---
# colors configured in _config.yml

---

/*** Normalization ***/
/* following adapted from HTML5 Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* following adapted from CSS Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
object,
embed {
  max-width: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

b,
strong {
  font-weight: 400;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

/* Box-sizing borrowed from Paul Irish */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Custom resets */
body {
  margin: 0 auto;
  max-width: 100%; /* Responsive resizing */
}

dfn,
em,
i {
  font-style: italic;
}

/***! END Normalization ***/

/*** Basic structure and formatting ***/
html {
  font: normal 300 1rem/1.4375 Seravek, Calibri, sans-serif;
  height: 100%;
}

body {
  background: {{ site.charcoal.hsl }};
}

.banner,
.excerpt,
.page,
.photoset,
.site-nav,
.site-info {
  background: {{ site.white.hsl }};
  color: {{ site.black.hsl }};
}

a,
a:visited {
  color: {{ site.green.hsl }};
  text-decoration: none;
}

a:hover,
a:focus {
  color: {{ site.golden.hsl }};
}

a:focus {
  outline: solid .0625em {{ site.golden.hsl }};
}

h1,
h2,
h3,
h4 {
  font-family: Seravek, Calibri, sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  line-height: 1.125;
}

h2 {
  font-size: 1.375em;
  line-height: 1.125;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25;
}

h4 {
  font-size: 1.125em;
  line-height: 1.25;
}

ul {
  list-style-type: square;
}

blockquote {
  border-left: solid 1em {{ site.greenlight2.hsl }};
  color: {{ site.graygreen.hsl }};
  margin: 1em 0;
  padding: 0 1em;
}

sup:before {
  content: "[\2009"; /* thin space \2009 */
}

sup:after {
  content: "\2009]";
}

hr {
  border-style: solid;
  border-width: 2px;
  color: {{ site.green.hsl }};
  margin: 1em;
}

small {
  font-size: .875em;
  font-style: italic;
}

/*** END Basic structure and formatting ***/

/*** Component styles ***/
/** Site header **/
.banner {
  box-shadow: 0 -.0625em .625em .0625em {{ site.grayshadow1.hsl }};
  margin: 0;
  padding: 3.5em 0 0 0;
  text-align: center;
}

/* Banner headings */
.banner h1 {
  font-size: 2em;
  padding: .375em 0 .125em;
}

.banner h2 {
  font-size: 1em;
  padding: 0 0 1em 0;
}

/* Responsive navigation (top and bottom) */
.top-menu a,
.back-top a {
  background: {{ site.greenlight2.hsl }};
  border-left: solid 6px {{ site.green.hsl }};
  font-family: Seravek, Calibri, sans-serif;
  padding: .75em 1em;
  position: absolute;
  right: 0;
}

.top-menu a {
  top: .5em;
}

.back-top a {
  bottom: .5em;
}

.top-menu a:hover,
.top-menu a:focus,
.back-top a:hover,
.back-top a:focus {
  background: {{ site.goldenlight.hsl }};
  border-left: solid 6px {{ site.golden.hsl }};
  box-shadow: -3px 0 0 0 {{ site.golden.hsl }};
}

/** Navigation (responsive, small screen) **/
.site-nav {
  box-shadow: 0 -.0625em .625em .0625em {{ site.grayshadow1.hsl }};
  font: normal 300 1em/1.5 Seravek, Calibri, sans-serif;
  padding: 1em 0 .5em;
  text-align: center;
}

.site-nav ul {
  list-style: none;
  margin: 0 auto;
  max-width: 22em;
  padding: 0 1em;
}

.site-nav li {
  border-bottom: solid .0625em {{ site.greenlight1.hsl }};
}

.site-nav li a {
  background: {{ site.greenlight2.hsl }};
  border-left: solid .375em {{ site.green.hsl }};
  display: block;
  padding: .75em 1.5em;
}

.site-nav li a:hover,
.site-nav li a:focus {
  background: {{ site.goldenlight.hsl }};
  border-left: solid .375em {{ site.golden.hsl }};
  box-shadow: -.1875em 0 0 0 {{ site.golden.hsl }};
  color: {{ site.golden.hsl }};
}

.site-nav .active {
  border-bottom: solid .0625em {{ site.grayshadow2.hsl }};
}

.site-nav .active a {
  background: {{ site.slate.hsl }};
  border-left: solid .375em {{ site.slateshadow.hsl }};
  color: {{ site.black.hsl }};
}

/** Site footer **/
.site-info {
  clear: both;
  font: normal 300 1em/1.5 Seravek, Calibri, sans-serif;
  margin: 0 auto;
  padding: 2em 0 6em;
  position: relative;
  text-align: center;
}

.site-info p {
  font-size: .75em;
  line-height: 1.675;
  margin: 0 .25em;
}

/** Container for post excerpts (an index) **/
.excerpt-index {
  background: {{ site.charcoal.hsl }};
  list-style: none;
  margin: .25em auto;
  overflow: hidden;
  padding: 0;
}

/** Home index link to archive (continuation of index) **/
.archive-link {
  font: normal 300 1.25em/1.33333333 Seravek, Calibri, sans-serif;
  margin: 1em auto 2em;
  text-align: center;
  width: 10em;
}

.archive-link a {
  background: {{ site.white.hsl }};
  box-shadow: 0 -.0625em .625em .0625em {{ site.grayshadow2.hsl }};
  padding: .5em 1em;
}

.archive-link a:focus {
  outline: solid .125em {{ site.golden.hsl }};
}

/** Posts, pages, galleries and excerpts **/
/* Shared page/photoset/excerpt styles */
.page,
.excerpt,
.photoset {
  border-bottom: solid .375em {{ site.green.hsl }};
  box-shadow: 0 -.0625em .625em .0625em {{ site.grayshadow1.hsl }};
  line-height: 1.375;
}

.page,
.photoset {
  margin: 1.25em auto;
}

/* Page-specific */
.page {
  max-width: 42em;
  padding: 0 1em 2em;
}

.page header {
  padding: 1em 0;
  text-align: center;
}

.page header h1 {
  margin: 0 0 .25em;
}

.page header h2 {
  font-size: .8em;
}

.page p {
  margin: .5em 0 .75em;
}

.page p a {
  border-bottom: 1px solid {{ site.greenlight2.hsl }};
}

.page p a:hover,
.page p a:focus {
  border-bottom: 1px solid {{ site.goldenlight.hsl }};
}

.page ul,
.page ol {
  margin: .75em 0 .75em 2em;
  padding: 0;
}

.footnotes {
  margin: 1.5em 1.5em 1.5em 0;
}

.reversefootnote {
  float: right;
  left: 1.5em;
  position: relative;
}

/* photoset-specific */
.photoset {
  max-width: 48em;
  padding: 0 0 2em;
}

.photos {
  margin: 0 0 2em;
}

.photo-notes p {
  background: {{ site.slate.hsl }};
  padding: 1em 1.5em;
}

/* Excerpt-specific */
.excerpt {
  margin: 1em auto;
}

.excerpt a {
  display: block;
}

.excerpt-writing,
.excerpt-photo {
  color: {{ site.black.hsl }}; /* get rid of that default link color */
  min-height: 12em;
}

.excerpt-writing {
  padding: .75em 1em;
}

.excerpt-writing h1,
.excerpt-photo h1 {
  color: {{ site.green.hsl }};
  font-size: 1.25em;
}

.excerpt-writing p {
  margin: 1em 0;
}

.excerpt-writing footer,
.excerpt-photo footer {
  font-size: .875em;
  text-align: right;
}

.excerpt-photo footer {
  padding: .5em 1em;
}

a:hover .excerpt-writing,
a:focus .excerpt-writing,
a:hover .excerpt-photo,
a:focus .excerpt-photo {
  box-shadow: 0 .625em 0 0 {{ site.golden.hsl }};
}

a:hover .excerpt-writing h1,
a:focus .excerpt-writing h1,
a:hover .excerpt-photo h1,
a:focus excerpt-photo h1 {
  color: {{ site.golden.hsl }};
}

.excerpt a:focus {
  outline: solid .125em {{ site.golden.hsl }};
}

/* Next/Previous navigation */
.page footer,
.photoset footer {
  height: 2.5em;
  margin: 2em 0 0;
}

.photoset footer {
  padding: 0 1em;
}

.more {
  background: {{ site.greenlight2.hsl }};
  font-family: Seravek, Calibri, sans-serif;
  padding: .75em 1em;
  text-align: center;
}

.more:hover,
.more:focus {
  background: {{ site.goldenlight.hsl }};
}

.next {
  float: left;
}

.next:before {
  content: "← ";
}

.previous {
  float: right;
}

.previous:after {
  content: " →";
}

/** Images **/

/* General figure styles */
figure img,
.page img {
  display: block;
  margin: 0 auto;
}

/* Page-specific figure styles */
.page figure {
  background: {{ site.greenlight2.hsl }};
  margin: 1em -1em;
}

.photoset figure {
  margin: 1em 0;  
}

.page figcaption,
.photoset figcaption {
  padding: 1em;
  text-align: center;
}

.page figcaption {
  font-size: .75em;
}

.photoset figcaption {
  font-size: .875em;
}

.page figcaption p {
  margin: 0;
}

.page .narrow {
  margin: 1em auto;
  width: 75%;
}

.page .right img,
.page .left img {
  width: 150%; /* Just in case the image pixel width is too small. */
}

/* 404 image */

#error-404 figure {
  background: {{ site.bluelight.hsl }};
  margin-top: 0;
  -webkit-animation: blueshift 10s ease-in-out infinite forwards;
  animation: blueshift 10s ease-in-out infinite forwards;
}

#error-404 img {
  padding: 1em;
  -webkit-animation: floating 18s ease infinite forwards;
  animation: floating 18s ease infinite forwards;
}

/*** END Component styles ***/

/*** Media queries ***/

@media screen and (min-width: 20em) {
  /* i.e. 320px */
  
  .banner h1 {
    font-size: 2.5em;
  }

  .excerpt {
    max-width: 20em;
  }

  .more {
    min-width: 7.5em;
  }

}

@media screen and (min-width: 22em) {
  /* i.e. 352px */

  .page {
    padding: 0 1.5em 3em;
  }

  .page figure {
    margin: 1em -1.5em;
  }

}

@media screen and (min-width: 25em) {
  /* i.e. 400px */

  .banner,
  .page,
  .photo-notes,
  .photoset footer,
  .site-nav,
  .site-info {
    font-size: 1.125em;
  }

  .banner {
    padding: 3em 0 0;
  }

  .excerpt {
    max-width: 25em;
  }
  
}

@media screen and (min-width: 30em) {
  /* i.e. 480px */

  .page {
    padding: 0 2em 2em;
  }

  .page figure {
    margin: 1em -2em;
  }

  .photoset {
    padding: 0 0 2.5em;
  }

  .photoset footer {
    padding: 0 2em;
  }

}

@media screen and (min-width: 35em) {
  .page {
    padding: 0 3em 3em;
  }

  .page figure {
    margin: 1em -3em;
  }

  .photoset figcaption {
    font-size: 1em;
  }
}

@media screen and (min-width: 38em) {
  /* i.e. 608px */

  .excerpt-index {
    font-size: 1.125em;
  }

  /* Responsive image layout and sizes for posts */
  .page .right, 
  .page .left {
    max-width: 320px;
    width: 50%;
  }

  .page .right,
  .page .right.narrow {
    float: right;
    margin: .5em -2em .5em 1.5em;
  }

  .page .left,
  .page .left.narrow {
    float: left;
    margin: .5em 1.5em .5em -2em;
  }

  .page .narrow {
    width: auto;
  }

  .page .narrow img {
    width: 150%;
  }

  .site-info {
    padding: 2em 0 5em;
  }

}

@media screen and (min-width: 44em) {
  /* i.e. 704px */

  .banner {
    height: 8em;
    padding: 1em 0 0 0;
  }

  .banner,
  .page,
  .photo-notes,
  .photoset footer,
  .site-nav,
  .site-info {
    font-size: 1.25em; /* i.e. 20px */
  }

  .page {
    max-width: 40em;
  }

  blockquote {
    margin: 1em;
  }

  /* becomes 2 columns for the first time here */
  .excerpt-index {
    font-size: 1em;
    max-width: 42em;
  }

  .excerpt-index {
    margin: 1em auto;
  }

  .excerpt {
    float: left;
    margin: .5em;
    width: 20em;
  }

  .excerpt-writing,
  .excerpt-photo {
    min-height: 17.5em;
  }

}

@media screen and (min-width: 48em) {
  /* i.e. 768px */

  .photo-notes p {
    padding: 2em 3em;
  }

}

@media screen and (min-width: 50em) {
  /* i.e. 800px */
  /* This breakpoint turns a responsive small-screen anchored navigation pattern 
  to a large-screen conventional inline-block navigation */
  .banner {
    height: 10em;
    padding-bottom: 2.75em;
  }

  .top-menu {
    display: none;
  }

  .site-nav {
    border-bottom: none;
    box-shadow: none;
    left: 50%; /* this hack centers the nav */
    margin-left: -20em; /* this hack also centers the nav */
    padding: 0;
    position: absolute;
    top: 7.5em;
    width: 40em;
  }

  .site-nav ul {
    max-width: none;
  }

  .site-nav ul {
    max-width: none;
  }

  .site-nav li {
    border-bottom: none;
    display: inline-block;
    margin: 0 .5em;
  }

  .site-nav li.active {
    border-bottom: none;
  }

  .site-nav li a,
  .back-top a {
    padding: .5em 1.25em;
  }

  .back-top a {
    bottom: 2.5em;
  }

  .site-info {
    box-shadow: 0 -.0625em .625em .0625em {{ site.grayshadow1.hsl }};
    padding: 2em 0;
  }  

  .page {
    max-width: 40em;
    padding: 0 4em 4em;
    margin-top: 1em;
  }

  .page figure {
    margin: 1em -4em;
  }

  .page .right, 
  .page .left {
    max-width: 400px;
    width: 400px;
  }

  .page .right,
  .page .right.narrow {
    margin: .5em -4em .5em 1.5em;
  }

  .page .left,
  .page .left.narrow {
    margin: .5em 1.5em .5em -4em;
  }

}

@media screen and (min-width: 54em) {
  /* i.e. 864px */

  .photoset {
    margin-top: 1.75em;
    padding: 0 0 3em;
  }

  .photoset footer {
    font-size: 1.375em; /* so the photo footer can keep up */
    padding: 0 2em 3em;
  }

  .excerpt-index,
  .archive-link {
    font-size: 1.125em;
  }

}

@media screen and (min-width: 64em) {
  /* i.e. 1024px */

  .excerpt-index,
  .archive-link {
    font-size: 1.1875em;
  }

  .site-nav li a,
  .back-top a {
    padding: .5em 1.5em;
  }

}

@media screen and (min-width: 80em) {
  /* i.e. 1280px */

  .photoset {
    max-width: 64em;
  }

  .photo-notes p {
    padding: 2em 6em;
  }

}

@media screen and (min-width: 85em) {
  /* i.e. 1360px */

  .page {
    font-size: 1.375em; /* i.e. 22px */
  }

  /* Becomes 4 columns for the first time here. */
  .excerpt-index,
  .archive-link {
    font-size: 1em;
    max-width: 84em;
  }

}

@media screen and (min-width: 100em) {
  /* i.e. 1600px */

  .banner {
    font-size: 1.5em;
  }

  .excerpt-index,
  .archive-link {
    font-size: 1.125em;
  }

  .site-nav {
    top: 9.5em;
  }

}

/*** END Media queries ***/

/*** Print styles ***/

@media print {

  * {
    box-shadow: none !important;
  }

  nav,
  .banner,
  .more {
    display: none !important;
  }

  a {
    color: {{ site.charcoal.hex }} !important;
  }

  blockquote,
  .excerpt-writing h1,
  .excerpt-photo h1 {
    color: {{ site.black.hex }} !important;
  }

  .excerpt {
    border: solid 1px {{ site.grayshadow2.hex }};
    border-bottom: solid 6px {{ site.green.hex }};
    margin: 16px auto;
    width: 320px;
  }

  .excerpt-photo img {
    display: block;
    margin: 0 auto;
  }

  img {
    margin: 0 auto;
    max-width: 75%;
  }

  .right img,
  .left img,
  .narrow img {
    margin: 0 auto;
    max-width: 50%;
  }

  .page {
    padding-bottom: 0;
  }

  .page footer,
  .site-info {
    margin: 0;
    padding: 0;
  }

}

/*** END Print styles ***/

/*** Animations ***/

@-webkit-keyframes blueshift {0% {background-color: hsla(190, 40%, 50%, 1); } 50% {background-color: hsla(190, 40%, 75%, 1); } 100% {background-color: hsla(190, 40%, 50%, 1); } }
@keyframes blueshift {0% {background-color: hsla(190, 40%, 50%, 1); } 50% {background-color: hsla(190, 40%, 75%, 1); } 100% {background-color: hsla(190, 40%, 50%, 1); } }
@-webkit-keyframes floating {0% {-webkit-transform: translate(0); transform: translate(0); } 10% {-webkit-transform: translate(-.75em, 0); transform: translate(-.75em, 0); } 25% {-webkit-transform: translate(.5em, .5em); transform: translate(.5em, .5em); } 50% {-webkit-transform: translate(0, -.5em); transform: translate(0, -.5em); } 75% {-webkit-transform: translate(-1em, 0); transform: translate(-1em, 0); } 90% {-webkit-transform: translate(-.5em, -.5em); transform: translate(-.5em, -.5em); } 100% {-webkit-transform: translate(0); transform: translate(0); } }
@keyframes floating {0% {transform: translate(0); } 10% {transform: translate(-.75em, 0); } 25% {transform: translate(.5em, .5em); } 50% {transform: translate(0, -.5em); } 75% {transform: translate(-1em, 0); } 90% {transform: translate(-.5em, -.5em); } 100% {transform: translate(0); } }

/*** END Animations ***/