/*** Resets ***/

/* following adapted from HTML5 Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* following adapted from CSS Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
object,
embed {
  max-width: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

/* Box-sizing borrowed from Paul Irish */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Custom resets */
body {
  height: 100%;
  margin: 0 auto;
  max-width: 100%; /* Responsive resizing */
}

dfn,
em,
i {
  font-style: italic;
}

/***! END Resets ***/

/*** Basic structure and formatting ***/

html {
  background: hsla(138, 10%, 98%, 1);
  color: hsla(138, 16%, 10%, 1);
  font: normal 400 16px/1 Calluna, Georgia, serif;
  font: normal 400 1rem/1 Calluna, Georgia, serif;
}

.background {
  background: hsla(218, 2%, 32%, 1);
}

.foreground {
  background: hsla(138, 10%, 98%, 1);
}

a,
a:visited,
.excerpt-writing h1 {
  background: transparent;
  color: hsla(138, 39%, 54%, 1);
}

a:hover,
a:focus {
  color: hsla(37, 75%, 55%, 1);
  outline: 0;
}

h1 {
  font: normal 400 1.5em/1.33333333 'open-sans', 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

h2 {
  font: normal 400 1.25em/1.4 'open-sans', 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

h3 {
  color: hsla(138, 16%, 18%, 1);
  font: normal 400 1.125em/1.33333333 'open-sans', 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

h4 {
  font: normal 600 1em/1.5 Calluna, Georgia, serif;
  margin: 0;
}

ul {
  list-style-type: square;
}

blockquote {
  border-left: hsla(138, 39%, 54%, .25) 1em solid;
  color: hsla(0, 0%, 50%, 1); /* TODO: test this against the color palette for the site */
  margin: 1em 0;
  padding: 0em 1em;
}

sup:before {
  content: "[ ";
}

sup:after {
  content: " ]";
}

hr {
  border-style: solid;
  border-width: 1px;
  color: hsla(138, 39%, 54%, 1);
  margin: 1em;
}

/*** END Basic structure and formatting ***/

/*** Component styles ***/

/** Site header **/
.banner {
  background: hsla(138, 10%, 98%, 1);
  box-shadow: hsla(218, 2%, 10%, .75) 0 -.0625em .625em .0625em;
  margin: 0;
  padding: 3.5em 0 0 0;
  text-align: center;
}

.banner a {
  text-decoration: none;
}

/* Banner headings */
.banner h1 {
  font: normal 600 2em/1.25 Calluna, Georgia, serif;
  padding: .4em 0 .1em;
}

.banner h2 {
  font: normal 400 1em/1 Calluna, Georgia, serif;
  padding: 0 0 1em 0;
}

/* Banner responsive navigation */
.top-menu a {
  background: hsla(138, 39%, 54%, .25);;
  border-left: hsla(138, 39%, 54%, 1) 6px solid;
  font-family: 'open-sans', 'Open Sans', Calibri, sans-serif;
  padding: 1em 1em;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: .5em;
}

.top-menu a:hover,
.top-menu a:focus {
  background: hsla(37, 75%, 55%, .25);
  border-left: hsla(37, 75%, 55%, 1) 6px solid;
}

/** Navigation (responsive, small screen) **/
.site-nav {
  background: hsla(138, 10%, 98%, 1);
  box-shadow: hsla(218, 2%, 10%, .75) 0 -.0625em .625em .0625em;
  font: normal 400 1em/1.5 'open-sans', 'Open Sans', Calibri, sans-serif;
  padding: 1em 0 .5em;
  text-align: center;
}

.site-nav ul {
  list-style: none;
  margin: 0 auto;
  max-width: 22em;
  padding: 0 1em;
}

.site-nav li {
  border-bottom: hsla(138, 39%, 54%, .5) 1px solid;
}

.site-nav li:last-child,
.site-nav li.active {
  border-bottom: hsla(138, 0%, 54%, .3) 1px solid;
}

.site-nav li:last-child a,
.site-nav li.active a {
  background: hsla(138, 0%, 54%, .25);
  border-left: hsla(138, 0%, 54%, 1) 6px solid;
  color: hsla(138, 16%, 10%, 1);
}

.site-nav li a {
  background: hsla(138, 39%, 54%, .25);
  border-left: hsla(138, 39%, 54%, 1) 6px solid;
  display: block;
  padding: .75em 1.5em;
  text-decoration: none;
}

.site-nav li a:hover,
.site-nav li a:focus,
.site-nav li:last-child a:hover,
.site-nav li:last-child a:focus {
  background: hsla(37, 75%, 55%, .25);
  border-left: hsla(37, 75%, 55%, 1) 6px solid;
  box-shadow: -3px 0 0 0 hsla(37, 75%, 55%, 1);
  color: hsla(37, 75%, 55%, 1);
}

.site-nav li:last-child:hover,
.site-nav li:last-child:focus {
  color: hsla(37, 75%, 55%, 1);
}

/** Site footer **/
.site-info {
  clear: both;
  font: normal 400 1em/1.5 'open-sans', 'Open Sans', Calibri, sans-serif;
  margin: 0 auto;
  padding: 2em 0 3em;
  text-align: center;
}

.site-info p {
  font-size: .875em;
  margin: 0 .25em;
}

/** Container for post excerpts (an index) **/
.excerpt-index {
  list-style: none;
  margin: .5em auto 1em;
  overflow: hidden;
  padding: 0;
}

/** Home index link to archive (continuation of index) **/

.archive-link {
  margin: .5em 0 1.25em;
}

.archive-link a {
  display: block;
  margin: 0 6em;
  padding: .5em;
}

.ellipsis:after {
  content: "";
  left: 2em;
  position: absolute;
}

.ellipsis:before {
  content: "";
  left: -2em;
  position: absolute;
}

.ellipsis,
.ellipsis:after,
.ellipsis:before {
  background: hsla(138, 39%, 54%, 1);
  border-radius: 100%;
  height: 1em;
  width: 1em;
  box-shadow: hsla(218, 2%, 10%, .25) 0 -.0625em .25em .0625em;
}

.ellipsis {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -ms-transition: -ms-transform 250ms ease-in-out;
  -moz-transition: -moz-transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.archive-link a:hover .ellipsis,
.archive-link a:focus .ellipsis,
.archive-link a:hover .ellipsis:after,
.archive-link a:focus .ellipsis:after,
.archive-link a:hover .ellipsis:before,
.archive-link a:focus .ellipsis:before {
  background: hsla(37, 75%, 55%, 1);
}

.ellipsis:hover,
.ellipsis:focus {
  -ms-transform: scale(1.2);
  -moz-transform: scale (1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/** Posts, pages, galleries and excerpts **/
/* Shared page/photoset/excerpt styles */
.page,
.excerpt,
.photoset {
  border-bottom: hsla(138, 39%, 54%, 1) 6px solid;
  box-shadow: hsla(218, 2%, 10%, .75) 0 -.0625em .625em .0625em;
  line-height: 1.375;
}

.page,
.photoset {
  margin: 1em auto;
}

/* Page-specific */
.page {
  max-width: 42em;
  padding: 0 1em 2em;
}

.page header {
  padding: 1em 0;
  text-align: center;
}

.page header h1 {
  margin: 0 0 .25em;
}

.page header h2 {
  font-size: .8em;
}

.page p {
  margin: .5em 0 .75em;
}

.page ul,
.page ol {
  margin: .75em 0 .75em 2em;
  padding: 0;
}

.footnotes {
  margin: 1.5em 1.5em 1.5em 0;
}

.reversefootnote {
  float: right;
  left: 1.5em;
  position: relative;
}

/* photoset-specific */
.photoset {
  max-width: 48em;
  padding: 0 0 2em;
}

.photos {
  margin: 0 0 2em;
}

/* Excerpt-specific */
.excerpt {
  margin: 1em auto;
}

.excerpt a {
  text-decoration: none;
}

.excerpt-writing,
.excerpt-photo {
  color: hsla(138, 16%, 10%, 1); /* get rid of that default link color */
  min-height: 12em;
}

.excerpt-writing {
  padding: .75em;
}

.excerpt-writing h1 {
  font: normal 400 1.25em 'open-sans', 'Open Sans', Calibri, sans-serif;
}

.excerpt-writing p {
  margin: 1em 0;
}

.excerpt-photo p {
  margin: 1em 1em;
}

.excerpt-writing footer,
.excerpt-photo footer {
  font: normal 400 .875em 'open-sans', 'Open Sans', Calibri, sans-serif;
  text-align: right;
}

.excerpt-photo footer {
  padding: 1em;
}

.excerpt-writing:hover,
.excerpt-photo:hover,
.excerpt-writing:focus,
.excerpt-photo:focus {
  box-shadow: hsla(37, 75%, 55%, 1) 0 .625em 0 0;
}

.excerpt-writing:hover h1,
.excerpt-writing:focus h1 {
  color: hsla(37, 75%, 55%, 1);
}

/* Next/Previous navigation */
.post-nav {
  height: 2.5em;
  margin: 2em 0 0;
}

.photoset .post-nav {
  margin: 2em 0 0;
  padding: 0 1em;
}

.more {
  background: hsla(138, 39%, 54%, .25);
  font-family: 'open-sans', 'Open Sans', Calibri, sans-serif;
  padding: .75em 1em;
  text-align: center;
  text-decoration: none;
}

.more:hover,
.more:focus {
  background: hsla(37, 75%, 55%, .25);
}

.next {
  float: left;
}

.next:before {
  content: "← ";
}

.previous {
  float: right;
}

.previous:after {
  content: " →";
}

/** Images **/

/* General figure styles */
figure img {
  display: block;
  margin: 0 auto;
}

/* Page-specific figure styles */
.page figure {
  background: hsla(138, 39%, 54%, .25);
  margin: 1em -1em;
}

.page figcaption {
  font: normal 400 .75em/1.5 'open-sans', 'Open Sans', Calibri, sans-serif;
  padding: .5em 1em .75em;
  text-align: center;
}

.page figcaption p {
  margin: 0;
}

.page .right img,
.page .left img {
  width: 150%; /* Just in case the image pixel width is too small. */
}

/* Photoset-specific figure styles */
.photoset figure {
  margin: 1em 0;  
}

.photoset figcaption {
  font-size: .875em;
  margin: 1em 1em 1.5em;
  text-align: center;
}

/*** END Component styles ***/

/*** Media queries ***/

@media screen and (min-width: 20em) {
  /* i.e. 320px */
  
  .banner h1 {
    font-size: 2.5em;
  }

  .excerpt {
    max-width: 20em;
  }

  .more {
    min-width: 7.5em;
  }

}

@media screen and (min-width: 22em) {
  /* i.e. 352px */

  .page {
    padding: 0 1.5em 3em;
  }

  .page figure {
    margin: 1em -1.5em;
  }

}

@media screen and (min-width: 30em) {
  /* i.e. 480px */

  .banner,
  .page,
  .photoset .post-nav,
  .site-nav {
    font-size: 1.125em;
  }

  .banner {
    padding: 2.5em 0 0;
  }

  .page {
    padding: 0 2em 2.5em;
  }

  .page figure {
    margin: 1em -2em;
  }

  .page figcaption {
    font-size: .833333333em; /* not magic - 15px/18px */
    padding: .6em 1em 1em;
  }

  .photoset {
    padding: 0 0 2.5em;
  }

  .photoset .post-nav {
    padding: 0 2em;
  }

  .excerpt {
    max-width: 25em;
  }

}

@media screen and (min-width: 38em) {
  /* i.e. 608px */

  /* Responsive image layout and sizes for posts */
  .page .right, 
  .page .left {
    max-width: 320px;
    width: 50%;
  }

  .page .right {
    float: right;
    margin: .5em -2em .5em 1.5em;
  }

  .page .left {
    float: left;
    margin: .5em 1.5em .5em -2em;
  }

}

@media screen and (min-width: 44em) {
  /* i.e. 704px */

  .banner {
    height: 8em;
    padding: 1em 0 0 0;
  }

  .banner,
  .page,
  .photoset .post-nav,
  .site-nav {
    font-size: 1.25em; /* i.e. 20px */
  }

  .page {
    max-width: 36em;
  }

  .page figcaption {
    font-size: .8em; /* i.e. 16px */
    padding: .6875em .75em 1em;
  }

  blockquote {
    margin: 1em;
  }

  .photoset figcaption {
    font-size: 1em;
    margin: 1em 2em 2em;
  }

  /* becomes 2 columns for the first time here */
  .excerpt-index {
    max-width: 42em;
  }

  .excerpt,
  .archive-link {
    float: left;
    margin: .5em;
    width: 20em;
  }

  .excerpt-writing,
  .excerpt-photo,
  .archive-link {
    min-height: 17.5em;
  }

  .archive-link a {
    margin: 7.5em 5em;
    padding: 1em;
  }

}

@media screen and (min-width: 50em) {
  /* i.e. 800px */
  /* This breakpoint turns a responsive small-screen anchored navigation pattern 
  to a large-screen conventional inline-block navigation */
  .banner {
    height: 10em;
    padding-bottom: 2.75em;
  }

  .top-menu {
    display: none;
  }

  .site-nav {
    border-bottom: none;
    box-shadow: none;
    left: 50%; /* this hack centers the nav */
    margin-left: -20em; /* this hack also centers the nav */
    padding: 0;
    position: absolute;
    top: 7.5em;
    width: 40em;
  }

  .site-nav ul {
    max-width: none;
  }

  .site-nav ul {
    max-width: none;
  }

  .site-nav li {
    border-bottom: none;
    display: inline-block;
    margin: 0 .5em;
  }

  .site-nav .active {
    border-bottom: none;
  }

  .site-nav li:last-child {
    display: none;
  }

  .site-nav li a {
    padding: .5em 1.5em;
  }

  .site-info {
    box-shadow: hsla(218, 2%, 10%, .75) 0 -.0625em .625em .0625em;
  }

}

@media screen and (min-width: 54em) {
  /* i.e. 864px */

  .page {
    font-size: 1.375em; /* i.e. 22px */
    max-width: 40em;
    padding: 0 3.2em 3em;
  }

  .page figure {
    margin: 1em -3.2em;
  }

  .page figcaption {
    font-size: .818181818em; /* i.e. 18px */
    padding: .666666667em .666666667em 1em;
  }

  .photoset {
    padding: 0 0 3em;
  }

  .photoset .post-nav {
    font-size: 1.375em; /* so the photo post-nav can keep up */
    padding: 0 2em 3em;
  }

  .excerpt-index {
    max-width: 52em;
  }

  .excerpt,
  .archive-link {
    width: 25em;
  }

  .excerpt-writing,
  .excerpt-photo,
  .archive-link {
    min-height: 15.5em;
  }

  .archive-link a {
    margin: 6.5em 6em;
  }

  .page .right, 
  .page .left {
    max-width: 400px;
    width: 400px;
  }

  .page .right {
    margin: .5em -3.2em .5em 1.5em;
  }

  .page .left {
    margin: .5em 1.5em .5em -3.2em;
  }

}

@media screen and (min-width: 64em) {
  /* i.e. 1024px */

  /* Becomes 3 columns for the first time here. */
  .excerpt-index {
    max-width: 63em;
  }

  .excerpt {
    width: 20em;
  }

  .excerpt-writing,
  .excerpt-photo {
    min-height: 17.5em;
  }

  .archive-link {
    margin: 0 auto .25em;
    min-height: 3em;
    width: 63em;
  }

  .archive-link a {
    margin: 0 25em;
  }

  .ellipsis {
    top: 0;
  }

}

@media screen and (min-width: 80em) {
  /* i.e. 1280px */

  .photoset {
    max-width: 64em;
  }

  .photoset figcaption {
    font-size: 1.25em;
  }

  .excerpt-index,
  .site-info {
    font-size: 1.125em;
  }

}

@media screen and (min-width: 92em) {
  /* i.e. 1472px */

  .excerpt-index,
  .site-info {
    font-size: 1.25em;
  }

  .banner {
    font-size: 1.5em;
  }

  .page {
    font-size: 1.5em; /* i.e. 24px */
    padding: 0 3.5em 3em;
  }

  .page figure {
    margin: 1em -3.5em;
  }

  .page figcaption {
    font-size: .833333333em; /* not magic - 20px/24px */
    padding: .6em .6em 1em;
  }

  .page .right {
    margin: .5em -3.5em .5em 1.5em;
  }

  .page .left {
    margin: .5em 1.5em .5em -3.5em;
  }

  .site-nav {
    top: 9.5em;
  }

}

/*** END Media queries ***/