** Resets ***/

/* following adapted from HTML5 Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* following four adapted from HTML5 Boilerplate */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
object,
embed {
  max-width: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}


/* Box-sizing borrowed from Paul Irish */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/***! END Resets ***/

/*** Universal transitions ***/

* {
  transition: 
    all 200ms ease-out,
    box-shadow 200ms ease-out,
    color 250ms ease-out,
    font-size 50ms ease-out,
    max-width 0ms,
    width 0ms;
}

/*** END Universal transitions ***/

/*** Basic structure and formatting ***/

html {
  color: hsla(138, 16%, 10%, 1);
  font: normal 400 16px/1 Calluna, Georgia, serif;
  font: normal 400 1rem/1 Calluna, Georgia, serif;
}

body {
  height: 100%;
  margin: 0 auto 1em;
  max-width: 100%; /* Responsive resizing */
}

.background {
  background: hsla(218, 2%, 32%, 1);
}

a,
a:visited,
.excerpt article h1 {
  color: hsla(138, 37.5%, 59.5%, 1);
}

a:hover,
a:focus {
  color: hsla(138, 37.5%, 59.5%, .7);
}

h1 {
  font: normal 400 1.5em/1.33333333 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

h2 {
  font: normal 400 1.25em/1.4 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

h3 {
  color: hsla(138, 16%, 18%, 1);
  font: normal 400 1.125em/1.33333333 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

h4 {
  font: normal 600 1em/1.5 Calluna, Georgia, serif;
  margin: 0;
}

blockquote {
  border-left: hsla(138, 37.5%, 59.5%, .1) .5em solid;
  color: hsla(0, 0%, 50%, 1); /* TODO: test this against the color palette for the site */
  margin: 1em .5em;
  padding: 0em 1em;
}

hr {
  border-style: solid;
  border-width: 1px;
  color: hsla(138, 37.5%, 59.5%, 1);
  margin: 1em;
}

/*** END Basic structure and formatting ***/

/*** Component styles ***/
/** Site header **/
#banner {
  background: hsla(138, 10%, 99.5%, 1);
  margin: 0;
  padding: 2.5em 0 0 0;
  text-align: center;
}

#banner a {
  text-decoration: none;
}

/* Banner headings */
#banner hgroup {
  padding: .5em 0;
}

#banner h1 {
  font: normal 600 1.75em/1.25 Calluna, Georgia, serif;
}

#banner h2 {
  font-size: 1em;
}

/* Banner responsive navigation */

#banner nav a {
  background: hsla(138, 37.5%, 59.5%, .1);
  border-left: hsla(138, 37.5%, 59.5%, 1) 5px solid;
  display: block;
  position: absolute;
  font-family: 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  padding: .5em 1em;
  right: .5em;
  text-decoration: none;
  top: .5em;
}

/** Navigation (responsive, small screen) **/
#menu nav {
  font: normal 400 1em/1.5 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  padding: .5em 0;
  text-align: center;
}

#menu nav ul {
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#menu nav li {
  background: hsla(138, 37.5%, 59.5%, .1);
  border-left: hsla(138, 37.5%, 59.5%, 1) 5px solid;
  display: block;
  margin: .5em auto;
  max-width: 20em;
  padding: .25em 1em;
}

#menu nav li a {
  display: block;
  text-decoration: none;
}

#menu nav li:last-child {
  background: hsla(138, 0%, 59.5%, .1);
  border-left: hsla(138, 0%, 59.5%, 1) 5px solid;
}

#menu nav li:last-child a {
  color: hsla(138, 16%, 10%, 1);
}

/** Site footer **/
.site-info {
  clear: both;
  color: hsla(138, 10%, 85%, 1);
  font: normal 400 1em/2 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}

.site-info ul li {
  display: inline-block;
  list-style: none;
  margin: 0 .25em;
}

.site-info p {
  font-size: .875em;
  margin: 0 .25em;
}

.site-info a {
    display: block;
    text-decoration: none;
}

/** Archive (index excerpt container) **/
.excerpt-index {
  margin: .5em auto;
  overflow: auto;
  padding: 0;
  transition: none;
}

/** Posts, pages and excerpts **/
/* Fundamental page */
.page {
  margin: 1em auto 0;
  max-width: 42em;
}

article.page {
  padding: 1em 5% 3em;
}

/* Shared page/excerpt styles */
.page,
.excerpt {
  box-shadow: hsla(218, 2%, 10%, .5) 0 -1px 10px 1px;
}

.page,
.excerpt article {
  background: hsla(138, 10%, 99.5%, 1);
  border-bottom: hsla(138, 37.5%, 59.5%, 1) 4px solid;
  line-height: 1.375;
}

/* Page-specific */
.page header {
  padding: 1em 0;
  text-align: center;
}

.page header h1 {
  margin: 0 0 .25em;
}

.page header h2 {
  font-size: .875em;
}

.page p {
  margin: .5em 0 .75em;
}

.page ul,
.page ol {
  margin: .75em 2em;
}

.page footer {
  margin: .5em;
  padding: 1em .5em;
}

.reversefootnote {
  float: right;
  left: 1.5em;
  position: relative;
}

/* Next/Previous navigation */
.more {
  background: hsla(138, 37.5%, 59.5%, .1);
  font-family: 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  padding: .5em;
  text-decoration: none;
}

.next {
  float: left;
}

.next:before {
  content: "← ";
}

.previous {
  float: right;
}

.previous:after {
  content: " →";
}

/* Excerpt-specific */
.excerpt {
  margin: 1em auto;
  list-style: none;
}

.excerpt article {
  color: hsla(138, 16%, 10%, 1); /* get rid of that default link color */
  min-height: 12em;
  padding: .75em;
}

.excerpt article h1 {
  font: normal 400 1.25em 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
}

.excerpt article p {
  margin: 1em 0;
}

.excerpt article footer {
  font: normal 400 .875em 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  text-align: right;
}

.excerpt a {
  text-decoration: none;
}

.excerpt a article:hover, 
.excerpt a article:focus {
  box-shadow: hsla(138, 37.5%, 59.5%, 1) 0 2px 0 0;
}

/** Images **/

figure {
  background: hsla(138, 37.5%, 59.5%, .1);
  margin: 1em 0;
}

figure img {
  display: block;
  margin: 0 auto;
}

.right,
.left {
  max-width: 100%; /* 50% at smaller viewports */
}

figcaption {
  font: normal 400 .75em/1.5 'Calluna Sans', 'Open Sans', Calibri, sans-serif;
  padding: .5em;
  text-align: center;
}

/*** END Component styles ***/

/*** Media queries ***/

@media screen and (min-width: 20em) {
  /* i.e. 320px */
  
  #banner h1 {
    font-size: 2em;
  }

  .excerpt {
    max-width: 20em;
  }

}

@media screen and (min-width: 25em) {
  /* i.e. 400px */

  article.page {
    padding: 0 3em 3em;
  }

}

@media screen and (min-width: 30em) {
  /* i.e. 480px */

  .site-info a {
    display: inline;
  }

  #banner,
  .page {
    font-size: 1.1875em;
  }

  .excerpt {
    max-width: 25em;
    transition: none;
  }

}

@media screen and (min-width: 38em) {
  /* i.e. 608px */

  article.page {
    padding: 0 4em 3em;
  }

  /* Image layout and sizes */

  .right {
    float: right;
    margin: .5em -4em .5em 1.5em;
    max-width: 50%;
  }

  .left {
    float: left;
    margin: .5em 1.5em .5em -4em;
    max-width: 50%;
  }

}

@media screen and (min-width: 44em) {
  /* i.e. 704px */

  #banner {
    padding: 1em 0 0 0;
  }

  #banner,
  .page {
    font-size: 1.25em;
  }

  .page,
  .excerpt-index {
    max-width: 42em;
  }

  /* becomes 2 columns for the first time here */
  .excerpt {
    float: left;
    margin: .5em;
    transition: none;
    width: 20em;
  }

  .excerpt article {
    min-height: 17em;
  }

}

@media screen and (min-width: 50em) {
  /* i.e. 800px */
  /* This breakpoint turns a responsive small-screen anchored navigation pattern 
  to a large-screen conventional inline-block navigation */

  #banner {
    padding-bottom: 3em;
  }

  #banner nav {
    display: none;
  }

  #menu {
    border: none;
    box-shadow: none;
    font-size: 1.25em;
    left: 50%;
    margin-left: -21em;
    position: absolute;
    top: 5.5em;
    transition: position 0ms;
    width: 42em;
  }

  #menu nav {
    padding: 0;
  }

  #menu nav li {
    display: inline-block;
    margin: 0 .5em;
  }

  #menu nav li:last-child {
    display: none;
  }

}

@media screen and (min-width: 54em) {
  /* i.e. 864px */

  .excerpt-index {
    max-width: 52em;
  }

  .excerpt {
    width: 25em;
  }

  .excerpt article {
    min-height: 15em;
  }

}

@media screen and (min-width: 64em) {
  /* i.e. 1024px */

  .page {
    font-size: 1.375em;
  }

  article.page {
    padding: 0 4em 3em;
  }

  .excerpt-index {
    max-width: 63em;
  }

  /* Becomes 3 columns for the first time here. */
  .excerpt {
    width: 20em;
  }

  .excerpt article {
    min-height: 17em;
  }

}

@media screen and (min-width: 80em) {
  /* i.e. 1280px */

  .excerpt-index {
    max-width: 66em;
  }

  .excerpt {
    margin: 1em;
  }

}

@media screen and (min-width: 90em) {
  /* i.e. 1440px */

  .excerpt-index {
    max-width: 81em;
  }

  #banner,
  .page {
    font-size: 1.5em;
  }

  .excerpt {
    width: 25em;
  }

  .excerpt article {
    min-height: 15em;
  }

}

/*** END Media queries **