<footer class="end">
  <div class="block--wide">

    <section class="meta">
      <div class="meta-disclaimer">
        <p>Disclaimer: Views expressed here are my own and are not intended to represent those of any of my employers, past or present.</p>
      </div>

      <div class="meta-copyright">
        <button class="jsDisclose">Content is licensed {{ site.license.short }}. More on copyright{% include icon/arrow-down.svg %}</button>
        <div class="meta-attribution jsExpanded">
          {{ site.license.description | markdownify }}
        </div>
      </div>

      <div class="meta-indices">
        <a class="meta-action" href="#">Selected articles{% include icon/arrow-right.svg %}</a>
        <a class="meta-action" href="#">Selected photography{% include icon/arrow-right.svg %}</a>
      </div>
    </section>

    <section class="elsewhere">
      <a class="elsewhere-action" href="#">Twitter{% include icon/twitter.svg %}</a>
      <a class="elsewhere-action" href="#">LinkedIn{% include icon/linkedin.svg %}</a>
      <a class="elsewhere-action--email" href="mailto:{{ site.author.email }}">Email me</a>
    </section>
  </div>
</footer>
