---
title: .meta-indices
use: 'Links to the selected archive pages.'
spec: 'Light blue on a dark blue background. Hard right aligned when placed next to `.meta-social`.'
restriction: 'Only used in site footer.'
type: html
category: interface
option:
  - isolate
priority: 52
---

<div class="end">
  <div class="block">
    <div class="meta-indices">
      <a class="meta-index" href="/writing/">Selected articles{% include icon/arrow-right.svg %}</a>
      <a class="meta-index" href="/photos/">Selected photography{% include icon/arrow-right.svg %}</a>
    </div>
  </div>
</div>
