@function c($value, $color-lightness: false) {
  $color: map-get($colors, $value);
  $color-hue: hue($color);
  $color-saturation: saturation($color);

  @if $color-lightness == false {
    $color-lightness: lightness($color);
  }

  $adjusted-lightness: $color-lightness;

  $output: hsl($color-hue, $color-saturation, $adjusted-lightness);

  @return $output;
}
