// Typography for use with font-family and font-weight declarations
$font-body: soleil, 'avenir next', avenir, corbel, century gothic, sans-serif;
$font-mono: consolas, courier, monospace;

$weight-regular: 400;
$weight-bold: 600;

$black: hsl(198, 26%, 8%);
$darkgray: hsl(198, 26%, 32%);
$lightgray: hsl(198, 26%, 88%);
$offwhite: hsl(198, 26%, 92%);
$white: hsl(198, 26%, 95%);
$blue: hsl(198, 52%, 32%);
$darkblue: hsl(198, 52%, 18%);
$skyblue: hsl(198, 52%, 80%);
$green: hsl(145, 65%, 32%);
$palegreen: hsl(145, 37%, 64%);

$widths: (
  small: 24em,
  medium: 32em,
  large: 48em,
  larger: 62.5em
);

$container-widths: (
  min: 30em,
  normal: 45em,
  max: 60em
)
