// Typography for use with font-family and font-weight declarations
$font-body: 'avenir next', avenir, corbel, century gothic, sans-serif;
$font-mono: consolas, courier, monospace;

$weight-thin: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// Built-in example colors processed with color lightness function
$colors: (
  shade: #111111,
  blue: #1476b8,
  red: #b81f14,
);

$black: c(shade);
$darkgray: c(shade, 25%);
$lightgray: c(shade, 75%);
$white: c(shade, 95%);
$blue: c(blue);
$lightblue: c(blue, 75%);
$red: c(red);
