    <footer class="site-info" role="contentinfo">
      <p>Content by Jean Flanagan (<a rel="license" href="/about/#copyright">copyright details</a>).</p>
      <p>Site design copyright <a href="https://olivermak.es">Oliver Pattison</a> and Jean Flanagan.</p>
      <p><a href="/subscribe/full.xml">Subscribe</a> via Atom/RSS or follow me on <a rel="me" href="https://twitter.com/jeancflanagan">Twitter</a> for updates.</p>
      <nav class="back-top">
        <a href="#top">Back to top&nbsp; &uarr;</a>
      </nav>
    </footer>
