.action {
  @include action;

  @include min-width(medium) {
    margin-left: 0;
    width: 50%;
  }
}

.action--center {
  @include action;

  @include min-width(medium) {
    margin-left: auto;
    width: 50%;
  }
}
