.elsewhere {
  @include container-width(min);

  display: flex;
  flex-flow: row wrap;
}

.elsewhere-action {
  @include action(0);

  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  &:first-of-type {
    margin-top: 2em;
  }

  svg {
    height: 1em;
    margin: auto 0;
    width: 1.75em;
  }

  @include min-width(small) {
    margin-top: 2em;
    flex: 1 0 33%;
  }
}

.elsewhere-action--email {
  @include action(0);

  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  @include min-width(small) {
    flex: 1 1 50%;
  }
}
