.elsewhere {
  display: flex;
  flex-flow: row wrap;

  @include min-width(medium) {
    width: 75%;
  }
}

.elsewhere-action {
  @include action;

  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  svg {
    height: 1em;
    margin: auto 0;
    width: 1.75em;
  }

  @include min-width(small) {
    flex: 1 0 33%;
  }
}

.elsewhere-action--email {
  @include action(0);

  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;

  @include min-width(small) {
    flex: 1 0 100%;
  }
}
