.elsewhere {
  @include container-width(min);

  display: flex;
  flex-flow: row wrap;
  margin-top: .5em;
  padding: 0 1em;

  @include min-width(medium) {
    margin-top: 1em;
    padding: 0;
    width: calc(100% + 1em);
  }
}

.elsewhere-action {
  @include action(0);

  display: flex;
  justify-content: center;
  margin: .5em 0;
  text-align: center;
  width: 100%;

  svg {
    height: 1em;
    margin: auto 0;
    width: 1.75em;
  }

  @include min-width(small) {
    flex: 1 0 33%;
  }

  @include min-width(medium) {
    margin: .5em;
  }
}

.elsewhere-action--email {
  @include action(0);

  display: flex;
  justify-content: center;
  margin: .5em 0;
  text-align: center;
  width: 100%;

  @include min-width(small) {
    flex: 1 1 50%;
  }

  @include min-width(medium) {
    margin: .5em;
  }
}
