.item {
  @include container-width(normal);

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 1em auto 0;
  outline: 1px solid lightgray;

  @include min-width(medium) {
    flex-flow: row wrap;
  }
}

.item--featured {
  @include container-width(max);

  margin: 1em auto 0;
  outline: 1px solid lightgray;

  @include min-width(large) {
    flex: 0 0 calc(50% - 1em);
  }
}

.item-image {
  // background-url set inline in _includes/block/item--featured.html
  background-position: 50% 50%;
  background-size: cover;
  height: 5em;
  width: 100%;

  @include min-width(medium) {
    height: auto;
    order: 2;
    width: 25%;
  }
}

.item--featured-image {
  // background-url set inline in _includes/block/item--featured.html
  background-position: 50% 50%;
  background-size: cover;
  height: 10em;

  @include min-width(large) {
    height: 15em;
  }
}

.item-description {
  padding: 1em;

  @include min-width(large) {
    padding: 1em 2em;
  }
}

.item-title {
  font-size: 1.25em;
}

.item-time {
  margin: .5em 0 0;
}
