.meta {
  display: flex;
  flex-flow: row wrap;
}

.meta-disclaimer {
  margin: auto;
  padding: 0 1em;

  @include min-width(larger) {
    flex: 1 0 75%;
    margin-top: 0;
    padding: 0 1em 0 0; // right pad only
    width: 75%;
  }
}

.meta-copyright {
  flex: 1 0 50%;
  margin: 1em auto;
  padding: 0 1em;
  width: 50%;

  button {
    cursor: pointer;
    font-family: $font-body;
    font-weight: $weight-regular;
    text-align: left;
    touch-action: manipulation;

    .arrow {
      height: .75em;
      width: 1.5em;
    }

    .jsRotated {
      transform: rotate(180deg) translateY(4px);
    }
  }

  @include min-width(larger) {
    flex: 1 0 75%;
    margin: -1.5em 0 0;
    order: 3;
    padding: 0; // reset
    width: 75%;
  }
}

.meta-attribution {
  margin-top: .5em;
}

.meta-indices {
  @include container-width(min);

  display: flex;
  flex-flow: column nowrap;

  @include min-width(medium) {
    flex: 0 0 50%;
    margin-left: 50%;
    width: 50%;
  }

  @include min-width(larger) {
    flex: 1 0 25%;
    margin-left: 0;
    width: 25%;
  }
}

.meta-action {
  @include action(0, 1em);

  font-weight: $weight-regular;
  text-align: center;
  width: 100%;

  & + .meta-action {
    margin-top: 1em;
  }

  svg {
    height: .75em;
    margin: auto 0;
    width: 1.75em;
  }

  @include min-width(medium) {
    margin-left: .5em;
    text-align: right;
    width: calc(100% - .5em);
  }
}

.meta-credit {
  display: inline-flex;
}

.meta-logo {
  align-self: center;
  margin-left: .25em;
}
