.organization {
  padding: 5em 0 2em;
}

.organization-item {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;

  @include min-width(medium) {
    flex-flow: row nowrap;
  }
}

.organization-frame {
  margin: auto;
  padding: 0 1em;
  width: 50%;

  @include min-width(medium) {
    width: 25%;
  }
}

.organization-description {
  margin: 0 1em;

  @include min-width(medium) {
    width: 75%;
  }
}
