.organization {
  padding: 5em 0 2em;
}

.organization-item {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;

  @include min-width(medium) {
    flex-flow: row nowrap;
  }
}

.organization-frame {
  margin: auto;
  padding: 1em 1em .5em;
  width: 40%;

  @include min-width(medium) {
    width: 25%;
    padding: 0 1em;
  }
}

.organization-description {
  margin: 0 1em;

  @include min-width(medium) {
    width: 75%;
  }
}

.organization-name {
  font-weight: $weight-regular;
}

.organization-period {
  font-size: 1em;
  font-weight: $weight-regular;
}
