.statement {
  padding: 0;
}

.statement-block {
  font-size: 1em;
  max-width: none;
  padding: 1em;

  @include min-width(small) {
    font-size: calc(.4vw + .8em);
  }

  @include min-width(large) {
    margin-left: 0;
    padding: 2em;
  }

  @include min-width(larger) {
    padding: 2em 4em;
  }
}

.statement-container {
  max-width: 100%;

  svg {
    width: 100%;
  }
}

.statement-image {
  -webkit-clip-path: polygon(0 0, 100% 400%, 100% 0);
  clip-path: polygon(0 0, 100% 400%, 100% 0);
  margin: 0 0 1em;

  @include min-width(small) {
    float: right;
    shape-outside: polygon(-5% 0, 100% 410%, 100% 0);
    width: 50%;
  }

  @include min-width(larger) {
    margin: 0;
  }
}
