.who {
  display: flex;
  flex-flow: column nowrap;
  height: 10em;

  @include min-width(medium) {
    flex-flow: row nowrap;
  }

  &:before {
    content: '';
    transform: skewX(-22.5deg) translateX(-2em);
    position: absolute;
    height: 8em;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    @include min-width(medium) {
      transform: skewX(-22.5deg) translateX(-10em);
      height: 10em;
    }
  }
}

.who-heading {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5em 1em;
  text-align: center;
  z-index: 20;

  @include min-width(medium) {
    margin-bottom: 0;
    padding: 2em;
    text-align: right;
    width: 100%;
  }
}

.who--inner-heading {
  padding: 2em 0 0;
  text-align: center;
  width: 100%;
}

.who-title {
  font-size: 2.5em;
  font-weight: $weight-regular;
  margin: 0;

  @include min-width(medium) {
    margin-top: auto;
  }

  @include min-width(large) {
    font-size: 3em;
    letter-spacing: -.025em;
  }
}

.who-subtitle {
  font-size: .875em;
  font-weight: $weight-bold;
  margin-top: .5em;
  letter-spacing: -.01em;

  @include min-width(large) {
    font-size: 1em;
    letter-spacing: -.02em;
  }
}

.who + section {
  padding-top: 6em;
}
