.who,
.who--archive {
  @include container-width(normal);

  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;

  @include min-width(medium) {
    flex-flow: row nowrap;
  }
}

.who-heading {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
  text-align: center;

  @include min-width(medium) {
    margin-bottom: 0;
    padding-left: 1em;
    text-align: left;
    width: 75%;
  }
}

.who-title {
  font-size: 3em;
  font-weight: $weight-regular;
  letter-spacing: -.021em;
  margin-top: .5em;

  @include min-width(medium) {
    margin-top: auto;
  }
}

.who-subtitle {
  font-size: 1em;
  font-weight: $weight-regular;
  margin-top: .25em;
}

.who-frame {
  margin: 0 auto -6em;
  width: 12em;

  img {
    display: block;
  }

  @include min-width(medium) {
    flex: 0 0 12em;
  }
}

.who + section {
  padding-top: 6em;
}
