.who,
.who--inner {
  display: flex;
  flex-flow: column nowrap;

  @include min-width(medium) {
    flex-flow: row nowrap;
  }
}

.who--inner {
  padding-bottom: 1em;
}

.who-heading,
.who--inner-heading {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5em 1em;
  text-align: center;

  @include min-width(medium) {
    margin-bottom: 0;
    padding: 0 1em;
    text-align: left;
    width: 75%;
  }

  @include min-width(large) {
    padding: 0 2em;
  }
}

.who--inner-heading {
  padding: 2em 0 0;
  text-align: center;
  width: 100%;
}

.who-title {
  font-size: 2.5em;
  font-weight: $weight-regular;
  margin: 0;

  @include min-width(medium) {
    margin-top: auto;
  }

  @include min-width(large) {
    font-size: 3em;
    letter-spacing: -.025em;
  }
}

.who-subtitle {
  font-size: .875em;
  font-weight: $weight-regular;
  margin-top: .5em;
  letter-spacing: -.01em;

  @include min-width(large) {
    font-size: 1em;
    letter-spacing: -.02em;
  }
}

.who-frame {
  margin: 0 auto -6em;
  width: 12em;

  img {
    display: block;
  }

  @include min-width(medium) {
    flex: 0 0 12em;
  }
}

.who + section {
  padding-top: 6em;
}
