.post {
  background-color: #404345;
  color: #fafafa;
}


.content {
  font-family: gentium basic;
}

h1 {
  font-family: fira sans;
  font-weight: 300;
  font-size: 2em;
  padding: 1em;

}

p {
  padding: 1em;
}


.photoset {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

}

.figure-wide {
  padding: .5em;
  flex: 0 1 auto;
}

.figure-grid {
  padding: .5em;
  flex: 0 1 50%;
}
