.post {
  background-color: #404345;
  color: #fafafa;
}

.photoset {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.figure-wide {
  padding: .5em;
  flex: 0 1 auto;
}

.figure-grid {
  padding: .5em;
  flex: 0 1 50%;
}

p {
  padding: 1em;
}
