/* for use with font-family */
$font-body: 'avenir next', avenir, corbel, century gothic, sans-serif;
$font-mono: consolas, courier, monospace;

/* default colors */
$black: #191919;
$darkgray: #515151;
$lightgray: #cbcbcb;
$white: #fbfbfb;
$blue: #1476b8;
$red: #b81f14;
$ivy: #25d0bf;
$light-ivy: #b5f2e8;
$red-orange: #f8624f;
$salmon: #fcc2ba;
