/* for use with font-family */
$font-body: gentium basic, times new roman, times, serif;
$font-heading: fira sans, calibri, helvetica, arial, sans-serif;
$font-mono: consolas, courier, monospace;

/* default colors */
$black: #191919;
$darkgray: #515151;
$lightgray: #cbcbcb;
$white: #fbfbfb;
$ivy: #18dcb5;
$light-ivy: #b5f2e8;
$dark-ivy: #15bc9b;
$red-orange: #f8624f;
$light-red-orange: #fcc2ba;
$dark-red-orange: #ef371f;
