/* for use with font-family */
$font-body: gentium basic, times new roman, times, serif;
$font-heading: fira sans, calibri, helvetica, arial, sans-serif;
$font-mono: consolas, courier, monospace;

/* default colors */
$black: #191919;
$darkgray: #515151;
$lightgray: #cbcbcb;
$white: #fbfbfb;
$ivy: #25d0bf;
$light-ivy: #b5f2e8;
$red-orange: #f8624f;
$salmon: #fcc2ba;
