<section class="organization">
  <div class="block">
    <h2 class="section-title">Where I’ve Been</h2>
    {% for organization in page.organizations %}
    <div class="organization-item">
      <div class="organization-frame">
        <img src="{{ site.image_url }}/site/{{ organization.logo }}">
      </div>
      <div class="organization-description">
        <h3 class="organization-role">{{ organization.role }}</h3>
        <h4 class="organization-name">{{ organization.name }} – {{ organization.period }}</h4>
        <p>{{ organization.summary }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
