<section class="statement">
  <img class="statement-image" src="/images/2017-09-02-jean-scotland.jpg">

  <div class="statement-block block">
    <h2>I’m a science educator, writer, and editor from Washington DC.</h2>

    <p>I’m passionate about biodiversity, conservation, and high-quality science education in both formal and informal environments.</p>

    <p>In my free time I’m hiking with my rescued hound dog, cycling, traveling, taking photos, and downloading more podcasts than I’ll ever get through.</p>


    <p><strong>This site is a personal archive for my writing, photography, and other projects.</strong></p>

    <p>Since 2012 I’ve maintained my own website as a personal archive. It won’t suddenly change its rules, lose my content, or go out of business. If you’re interested, you can read more about the indie web movement.</p>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" height="0">
    <defs>
      <clipPath id="backgroundimage" clipPathUnits="objectBoundingBox">
        <polygon points="0 0,1 0,1 1" fill="none" />
      </clipPath>
    </defs>
  </svg>

</section>
