$back: $white;
$back--alt: $offwhite;
$fore: $black;
$accent: $blue;
$link: $blue;
$link--hover: $green;
$link-alt: $skyblue;
$link-alt--hover: $palegreen;

html {
  color: $fore;
}

body {
  background-color: $back;
  color: $fore;
}

a {
  color: currentColor;
}

p > a {
  border-bottom-color: $link;
}

p a:hover,
p a:focus {
  border-bottom-color: $link--hover;
}

.action {
  background-color: $link;
  color: $white;

  path {
    fill: $white;
  }

  &:hover,
  &:focus {
    background-color: $link--hover;
    color: $white;

    path {
      fill: $white;
    }
  }
}

.meta-action {
  background-color: $white;
  color: $black;
  outline-color: $link-alt;

  path {
    fill: $black;
  }

  &:hover,
  &:focus {
    background-color: $link--hover;
    color: $white;
    outline-color: $link-alt--hover;

    path {
      fill: $white;
    }
  }
}

.elsewhere-action,
.elsewhere-action--email {
  background: $white;
  color: $black;
  outline-color: $lightgray;

  path {
    fill: $black;
  }

  &:hover,
  &:focus {
    background-color: $link--hover;
    color: $white;
    outline-color: $link-alt--hover;

    path {
      fill: $white;
    }
  }
}

.details-title {
  background-color: $back;
  color: $link;
  outline-color: $link;

  path {
    fill: $link;
  }

  &:hover,
  &:focus,
  &.jsActive {
    color: $link--hover;
    outline-color: $link--hover;

    path {
      fill: $link--hover;
    }
  }
}

.details-expanded {
  background-color: $back;
  outline-color: $lightgray;
}

.home {
  background-image: linear-gradient(-22.5deg, $offwhite, $skyblue);
}

.who {
  background-color: $back--alt;
}

.skills {
  background-color: $back--alt;
}

.organization {
  background-color: $back;
}

.organization-period {
  color: $darkgray;
}

.end {
  background-image: linear-gradient(22.5deg, $black, $darkblue);
  color: $white;

  p > a {
    border-bottom-color: $link-alt;

    &:hover,
    &:focus {
      border-bottom-color: $link-alt--hover;
    }
  }
}

.meta-credit {
  border-bottom: none;
  color: $link-alt;

  &:hover,
  &:focus {
    color: $link-alt--hover;
  }
}

.meta-copyright {
  button {
    color: $link-alt;

    path {
      fill: $link-alt;
    }

    &:hover,
    &:focus {
      color: $link-alt--hover;

      path {
        fill: $link-alt--hover;
      }
    }
  }
}
