$back: $white;
$back--alt: $offwhite;
$back--inverse: $black;
$back--gradient: linear-gradient(22.5deg, $black, $darkblue);
$fore: $black;
$fore--inverse: $white;
$fore--alt: $darkgray;
$accent: $blue;
$link: $blue;
$link--hover: $green;
$link-alt: $skyblue;
$link-alt--hover: $palegreen;

body {
  background-color: $back;
  background-size: 100% 2em;
  color: $fore;

  @include min-width(medium) {
    background-size: 100% 2em;
  }

  @include min-width(large) {
    background-size: 100% 20em;
  }
}

h1,
h2 {
  color: $fore;
}

h3,
h4,
h5 {
  color: $fore--alt;
}

a {
  color: currentColor;
}

p > a,
li > a,
blockquote > a,
figcaption > a {
  border-bottom-color: $link;

  &:hover,
  &:focus {
    border-bottom-color: $link--hover;
    color: $link--hover;
  }
}

blockquote {
  border-left-color: $lightgray;
  color: $darkgray;
}

figcaption {
  color: $darkgray;
}

hr {
  background-color: $lightgray;
}

.selected,
.archive {
  background-color: $back--alt;
}

.action,
.action--center {
  background-image: linear-gradient(22.5deg, scale-color($link, $lightness: 12.5%), $link);
  color: $fore--inverse;
  outline-color: $link-alt;

  path {
    fill: $fore--inverse;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(22.5deg, $link--hover, scale-color($link--hover, $lightness: 12.5%));
    color: $fore--inverse;
    outline-color: $link-alt--hover;

    path {
      fill: $fore--inverse;
    }
  }
}

.section-title {
  color: $fore--alt;
}

.who {
  background-color: $back--alt;

  &:before {
    background-image: $back--gradient;
  }
}

.who-title,
.who-subtitle {
  color: $link;
}

.end {
  background-image: $back--gradient;
  color: $fore--inverse;

  p > a {
    border-bottom-color: $link-alt;

    &:hover,
    &:focus {
      border-bottom-color: $link-alt--hover;
      color: $link-alt--hover;
    }
  }
}

.meta-credit {
  border-bottom: none;
  color: $link-alt;

  &:hover,
  &:focus {
    color: $link-alt--hover;
  }
}

.meta-copyright {
  button {
    color: $link-alt;

    path {
      fill: $link-alt;
    }

    &:hover,
    &:focus {
      color: $link-alt--hover;

      path {
        fill: $link-alt--hover;
      }
    }
  }
}

.meta-link {
  color: $link-alt;

  path {
    fill: $link-alt;
  }

  &:hover,
  &:focus {
    color: $link-alt--hover;

    path {
      fill: $link-alt--hover;
    }
  }
}

.meta-action {
  background-color: $back--alt;
  color: $fore;
  outline-color: $link-alt;

  path {
    fill: $fore;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(-22.5deg, scale-color($link-alt--hover, $lightness: -25%), $link-alt--hover);
    color: $fore;
    outline-color: $link--hover;

    path {
      fill: $fore;
    }
  }
}

.meta-index {
  background-color: $link-alt;
  color: $fore;

  path {
    fill: $fore;
  }

  &:hover,
  &:focus {
    background-color: $link-alt--hover;
  }
}

.post,
.photoset {
  background-color: $back--alt;
}

.content {
  background-color: $back;
  outline-color: $lightgray;
}

.footnotes,
.reference {
  background-color: $lightgray;
}

.footnotes + .reference {
  border-color: $back;
}

.footnote,
.reversefootnote {
  color: $link;
}

.content-meta {
  color: $fore--alt;
}

.nav {
  background-image: url('/images/2011-07-16-white-hibiscus-bokeh-williamsburg-va-crop.jpg');
  background-size: cover;
  background-position: center;

  &:before {
    background-color: $link-alt;
  }
}

.nav-item--writing {
  background-color: $link-alt;
  color: $fore;

  path {
    fill: $fore;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $link--hover;

    path {
      fill: $link--hover;
    }
  }


  @include min-width(medium) {
    background: none;
  }
}

.nav-item--photography {
  color: $fore--inverse;
  text-shadow: 0 0 .5em $fore;

  path {
    fill: $fore--inverse;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $link-alt;

    path {
      fill: $link-alt;
    }
  }
}

.item,
.item--featured {
  background-color: $back;
  outline-color: $lightgray;

  a {
    color: $link;

    &:hover,
    &:focus {
      color: $link--hover;
    }
  }
}

.screenshot {
  outline: $lightgray;
}
