$back: $white;
$back--alt: $offwhite;
$back--inverse: $black;
$fore: $black;
$fore--inverse: $white;
$accent: $blue;
$link: $blue;
$link--hover: $green;
$link-alt: $skyblue;
$link-alt--hover: $palegreen;

html {
  background-color: $back;
  color: $fore;
}

body {
  background-image: linear-gradient(-22.5deg, $offwhite, $skyblue);
  background-size: 100% 2em;
  padding-top: 2em;

  @include min-width(medium) {
    background-size: 100% 4em;
    padding-top: 4em;
  }

  @include min-width(large) {
    background-size: 100% 12em;
    padding-top: 6em;
  }
}

.archive {
  background-color: $back--alt;
}

a {
  color: currentColor;
}

p > a {
  border-bottom-color: $link;
}

p a:hover,
p a:focus {
  border-bottom-color: $link--hover;
}

.action {
  background-color: $link;
  color: $fore--inverse;

  path {
    fill: $fore--inverse;
  }

  &:hover,
  &:focus {
    background-color: $link--hover;
    color: $fore--inverse;

    path {
      fill: $fore--inverse;
    }
  }
}

.meta-action {
  background-color: $back;
  color: $fore;
  outline-color: $link-alt;

  path {
    fill: $fore;
  }

  &:hover,
  &:focus {
    background-color: $link--hover;
    color: $fore--inverse;
    outline-color: $link-alt--hover;

    path {
      fill: $fore--inverse;
    }
  }
}

.elsewhere-action,
.elsewhere-action--email {
  background: $back;
  color: $fore;
  outline-color: $lightgray;

  path {
    fill: $fore;
  }

  &:hover,
  &:focus {
    background-color: $link--hover;
    color: $fore--inverse;
    outline-color: $link-alt--hover;

    path {
      fill: $fore--inverse;
    }
  }
}

.details-title {
  background-color: $back;
  color: $link;
  outline-color: $link;

  path {
    fill: $link;
  }

  &:hover,
  &:focus,
  &.jsActive {
    color: $link--hover;
    outline-color: $link--hover;

    path {
      fill: $link--hover;
    }
  }
}

.details-expanded {
  background-color: $back;
  outline-color: $lightgray;
}

.who,
.who--inner {
  background-color: $back--alt;
}

.skills {
  background-color: $back--alt;
}

.organization {
  background-color: $back;
}

.organization-period {
  color: $darkgray;
}

.end {
  background-image: linear-gradient(22.5deg, $black, $darkblue);
  color: $fore--inverse;

  p > a {
    border-bottom-color: $link-alt;

    &:hover,
    &:focus {
      border-bottom-color: $link-alt--hover;
    }
  }
}

.meta-credit {
  border-bottom: none;
  color: $link-alt;

  &:hover,
  &:focus {
    color: $link-alt--hover;
  }
}

.meta-copyright {
  button {
    color: $link-alt;

    path {
      fill: $link-alt;
    }

    &:hover,
    &:focus {
      color: $link-alt--hover;

      path {
        fill: $link-alt--hover;
      }
    }
  }
}

.item {
  background-color: $back;
  outline-color: $lightgray;

  a {
    color: $link;

    &:hover,
    &:focus {
      color: $link--hover;
    }
  }
}
